In [1]:
import pandas as pd
import os
pwd = os.getcwd()

In [2]:
raw_data = pd.read_csv("C:/Users/hrush/Downloads/Uncleaned_DS_jobs.csv/Uncleaned_DS_jobs.csv")
raw_data

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [3]:
drop_columns = raw_data.drop(columns=["index","Founded"])
drop_columns

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [4]:
drop_columns["salary estimate"] = drop_columns["Salary Estimate"].str[:11]
drop_columns.drop(columns=["Salary Estimate"],inplace=True)
drop_columns

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary estimate
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K
668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K
669,Data Scientist,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K

In [5]:
new_df = drop_columns
new_df["min_salary"] = new_df["salary estimate"].str[0:5]
new_df["max_salary"] = new_df["salary estimate"].str[6:]
new_df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors,salary estimate,min_salary,max_salary
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",$137K-$171K,$137K,$171K
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,$137K-$171K,$137K,$171K
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,$137K-$171K,$137K,$171K
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$137K-$171K,$137K,$171K
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",$137K-$171K,$137K,$171K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,$105K-$167K,$105K,$167K
668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K
669,Data Scientist,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K
670,Data Scientist,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,$105K-$167K,$105K,$167K
671,Data Scientist,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,$105K-$167K,$105K,$167K

In [6]:
# checking if there are any null values
new_df.isna().sum()

Job Title            0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
salary estimate      0
min_salary           0
max_salary           0
dtype: int64

In [7]:
new_df1 = new_df.copy()

In [8]:
new_df1.drop(columns=["Competitors","Job Description"],inplace=True)
new_df1

,Job Title,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,salary estimate,min_salary,max_salary
0,Sr Data Scientist,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,$137K-$171K,$137K,$171K
1,Data Scientist,4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),$137K-$171K,$137K,$171K
2,Data Scientist,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),$137K-$171K,$137K,$171K
3,Data Scientist,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),$137K-$171K,$137K,$171K
4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$137K-$171K,$137K,$171K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$105K-$167K,$105K,$167K
668,Data Scientist,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K
669,Data Scientist,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K
670,Data Scientist,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),$105K-$167K,$105K,$167K
671,Data Scientist,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),$105K-$167K,$105K,$167K

In [9]:
# removing the rating attached with the company name
new_df2 = new_df1.copy()
new_df2["company_name"] = new_df2["Company Name"].str[:-4]
new_df2

,Job Title,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,salary estimate,min_salary,max_salary,company_name
0,Sr Data Scientist,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,$137K-$171K,$137K,$171K,Healthfirst
1,Data Scientist,4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),$137K-$171K,$137K,$171K,ManTech
2,Data Scientist,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),$137K-$171K,$137K,$171K,Analysis Group
3,Data Scientist,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),$137K-$171K,$137K,$171K,INFICON
4,Data Scientist,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$137K-$171K,$137K,$171K,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$105K-$167K,$105K,$167K,TRANZACT
668,Data Scientist,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K,
669,Data Scientist,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K,Access
670,Data Scientist,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),$105K-$167K,$105K,$167K,ChaTeck Incorporated
671,Data Scientist,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),$105K-$167K,$105K,$167K,1-800-Flowers

In [10]:
new_df2.drop(columns=["Company Name"],inplace=True)
new_df2

,Job Title,Rating,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,salary estimate,min_salary,max_salary,company_name
0,Sr Data Scientist,3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,$137K-$171K,$137K,$171K,Healthfirst
1,Data Scientist,4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),$137K-$171K,$137K,$171K,ManTech
2,Data Scientist,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),$137K-$171K,$137K,$171K,Analysis Group
3,Data Scientist,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),$137K-$171K,$137K,$171K,INFICON
4,Data Scientist,2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$137K-$171K,$137K,$171K,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$105K-$167K,$105K,$167K,TRANZACT
668,Data Scientist,-1.0,"San Francisco, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K,
669,Data Scientist,-1.0,"Irwindale, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,$167K,Access
670,Data Scientist,5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),$105K-$167K,$105K,$167K,ChaTeck Incorporated
671,Data Scientist,2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),$105K-$167K,$105K,$167K,1-800-Flowers

In [19]:
#replacing the values
new_df3 = new_df2.copy()
new_df3['max_salary'] = new_df3["max_salary"].apply(lambda x : x.replace('$','').replace('K','').replace('-','').replace('(',''))
new_df3

,Job Title,Rating,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,salary estimate,min_salary,max_salary,company_name
0,Sr Data Scientist,3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,$137K-$171K,$137K,171,Healthfirst
1,Data Scientist,4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),$137K-$171K,$137K,171,ManTech
2,Data Scientist,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),$137K-$171K,$137K,171,Analysis Group
3,Data Scientist,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),$137K-$171K,$137K,171,INFICON
4,Data Scientist,2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$137K-$171K,$137K,171,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$105K-$167K,$105K,167,TRANZACT
668,Data Scientist,-1.0,"San Francisco, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,167,
669,Data Scientist,-1.0,"Irwindale, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,$105K,167,Access
670,Data Scientist,5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),$105K-$167K,$105K,167,ChaTeck Incorporated
671,Data Scientist,2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),$105K-$167K,$105K,167,1-800-Flowers

In [20]:
new_df3['min_salary'] = new_df3["min_salary"].apply(lambda x : x.replace('$','').replace('K','').replace('-','').replace('(',''))
new_df3

,Job Title,Rating,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,salary estimate,min_salary,max_salary,company_name
0,Sr Data Scientist,3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,$137K-$171K,137,171,Healthfirst
1,Data Scientist,4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),$137K-$171K,137,171,ManTech
2,Data Scientist,3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),$137K-$171K,137,171,Analysis Group
3,Data Scientist,3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),$137K-$171K,137,171,INFICON
4,Data Scientist,2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$137K-$171K,137,171,Affinity Solutions
...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,$105K-$167K,105,167,TRANZACT
668,Data Scientist,-1.0,"San Francisco, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,105,167,
669,Data Scientist,-1.0,"Irwindale, CA",-1,-1,-1,-1,-1,-1,$105K-$167K,105,167,Access
670,Data Scientist,5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),$105K-$167K,105,167,ChaTeck Incorporated
671,Data Scientist,2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),$105K-$167K,105,167,1-800-Flowers

In [21]:
# the data is now cleaned and ready to use,visualize.
# let's export the data to excel file,i.e .xlsx
new_df3.to_excel(pwd + "//Cleaned_datascientist_new.xlsx",index=False)